body
{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas
{
    padding: 0;
    margin: 0;
}

#noteCanvas
{
    height: 200px;
}

#arrangementCanvas
{
    height: 100px;
}

#noteCanvasContainer
{
    position:absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 546px;
    overflow: scroll;
}
#sectionArrangementContainer
{
    position:absolute;
    top: 200px;
    left: 0;
    height: 100px;
    width: 546px;
    overflow: scroll;
}

#sectionEditorContainer
{
    position:absolute;
    top: 0;
    left: 546px;
    height: 200px;
    width: calc(100vw - 546px);
    overflow: hidden;
    background-color: white;
}

#html5colorpicker
{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 3px ;
    padding: 0px;
    margin: 0px;
}

#html5colorpicker:hover 
{
    cursor: pointer;
}

#saveButton
{
    margin-top: 95vh;
   height: 5vh;
}
#loadButton
{
    margin-top: 95vh;
   height: 5vh;
}